.menu-item .label {
    -fx-text-fill: white;
}


.menu-item:focused {
     -fx-background-color: red;
}

.menu-item:focused .label {
    -fx-text-fill:white;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;

}
